    <input type="checkbox" id="active">
    <label for="active" class="menu-btn"><span></span></label>
    <label for="active" class="close"></label>
    <div class="wrapper">
      <ul>
        <li><a href="#">Home</a></li>
        <li><a href="#">About</a></li>
        <li><a href="#">Services</a></li>
        <li><a href="#">Gallery</a></li>
        <li><a href="#">Feedback</a></li>
        </ul>
    </div>

    <div class="test1">SIGMA HEALTHCARE</div>
    <div class="test">A Centre of Excellence in MedicalCare</div>
    <div class="parallax">
      <div class="parallax__content"> High Quality Service For You </div>
    </div>
    <div class="test2">Our Mission</div>
    <div class="test">To provide healthcare services at an affordable cost. We are committed to continuously improving our quality and maintaining high standards of patient care with excellence, competence and compassion by following the best practices in the healthcare industry.</div>
    <div class="test2">Our Vision</div>
    <div class="test">To build a healthy society with dedicated, well qualified & experienced doctors & supporting staff by easily offering to people the world-class health care services at an affordable cost.</div>
    <br>
    <br>
    <!-- <div class="parallax1">
        <div class="img1">
          
        </div>
        <div class="img2">
          
        </div>
        <div class="img3">
          
        </div>
        <div class="img4">
          
        </div>
        <div class="img5">
          
        </div>
    </div> -->
    <app-footer></app-footer>
    
      
