 
    <div class="sigma">
      <h1 class="test3">SIGMA HEALTHCARE</h1>
    </div>  
    <div class="test">A Centre of Excellence in MedicalCare</div>
    <div class="parallax">
      <div class="parallax__content"> High Quality Service For You </div>
    </div>
    <div class="test2">Our Mission</div>
    <div class="test">To provide healthcare services at an affordable cost. We are committed to continuously improving our quality and maintaining high standards of patient care with excellence, competence and compassion by following the best practices in the healthcare industry.</div>
    <div class="test2">Our Vision</div>
    <div class="test">To build a healthy society with dedicated, well qualified & experienced doctors & supporting staff by easily offering to people the world-class health care services at an affordable cost.</div>
    <div class="container">
      <div class="container__img-holder">
        <img src="../../assets/parallax1.png" alt="Image">
      </div>
      <div class="container__img-holder">
        <img src="../../assets/parallax2.png" alt="Image">
      </div>
      <div class="container__img-holder">
        <img src="../../assets/parallax3.png" alt="Image">
      </div>
      <div class="container__img-holder">
        <img src="../../assets/parallax4.png" alt="Image">
      </div>
      <div class="container__img-holder">
        <img src="../../assets/parallax5.png" alt="Image">
      </div>
    </div>
    
    <div class="img-popup">
      <img src="" alt="Popup Image">
      <div class="close-btn">
        <div class="bar"></div>
        <div class="bar"></div>
      </div>
    </div>
    <br>
    <br>
    <section class="testimonial text-center">
      <div class="container">

          <div class="heading white-heading">
              Testimonial
          </div>
          <div id="testimonial4" class="carousel slide testimonial4_indicators testimonial4_control_button thumb_scroll_x swipe_x" data-ride="carousel" data-pause="hover" data-interval="5000" data-duration="2000">
           
              <div class="carousel-inner" role="listbox">
                  <div class="carousel-item active">
                      <div class="testimonial4_slide">
                          <img src="https://i.ibb.co/8x9xK4H/team.jpg" class="img-circle img-responsive" />
                          <p>"Sigma Healthcare's emphasis on innovation and cutting-edge technologies sets them apart as a leader in the healthcare industry." </p>
                          <h4>Vishal</h4>
                      </div>
                  </div>
                  <div class="carousel-item">
                      <div class="testimonial4_slide">
                          <img src="https://i.ibb.co/8x9xK4H/team.jpg" class="img-circle img-responsive" /><p>"Sigma Healthcare's comprehensive range of healthcare services has provided me with a one-stop solution for all my medical needs."</p>
                          <h4>Sundar</h4>
                      </div>
                  </div>
                  <div class="carousel-item">
                      <div class="testimonial4_slide">
                          <img src="https://i.ibb.co/8x9xK4H/team.jpg" class="img-circle img-responsive" />
                          <p>"I wholeheartedly recommend Sigma Healthcare to anyone seeking reliable, compassionate, and top-notch healthcare services." </p>
                          <h4>Raghul</h4>
                      </div>
                  </div>
              </div>
              <a class="carousel-control-prev" href="#testimonial4" data-slide="prev">
                  <span class="carousel-control-prev-icon"></span>
              </a>
              <a class="carousel-control-next" href="#testimonial4" data-slide="next">
                  <span class="carousel-control-next-icon"></span>
              </a>
          </div>
      </div>
  </section>

    <app-footer></app-footer>
    
      
